html {
  min-width: 960px;
  box-sizing: border-box;

  font-family: 'Cuprum', 'Arial Narrow', sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 1.85;
}

*, *::after, *::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;

  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  word-break: break-word;

  border: none;
  border-radius: 3px;
  text-align: center;
  background-color: #ee3643;
}
.button:hover {
  background-color: #ca2c37;
}
.button:active {
  background-color: #ba2732;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.container.container-catalog {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.container.container-catalog .right-column {
  width: 700px;
}

/* header styles */

.header {
  background-color: #f4f7f9;
}

.header-search {
  color: #ffffff;
  font-size: 17px;
  line-height: 1.06;

  background-color: #293449;
}

.header-search .container {
  min-height: 42px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.header-logo {
  width: 220px;
  flex-shrink: 0;
}

.header-logo,
.footer-logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ee3643;
  box-shadow: 0 5px #b62430;
}
.header-logo:hover,
.footer-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px #9b1b25;
}
.header-logo:active,
.footer-logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px #8f1821;
}

.search-form {
  position: relative;
  flex-grow: 1;
}

.search-request {
  width: 100%;
  height: 100%;
  padding-left: 48px;
  padding-right: 10px;
  padding-bottom: 2px;

  color: inherit;
  font-size: inherit;
  line-height: inherit;

  background-color: #293449;
  border: none;
}
.search-request::placeholder {
  color: inherit;
  opacity: 1;
}
.search-request:hover {
  background-color: #212a3a;
}
.search-request:focus {
  color: #000000;

  background-color: #ffffff;
}

.search-request ~ .search-submit {
  position: absolute;
  top: 50%;
  left: 0;
  width: 46px;
  height: 100%;

  border: none;
  background-color: transparent;
  opacity: 0.3;

  transform: translateY(-53%);
}
.search-request:hover ~ .search-submit {
  opacity: 1;
}
.search-request:focus ~ .search-submit {
  opacity: 1;
}
.search-request:focus ~ .search-submit svg {
  fill: #ee3643;
}

.search-submit {
  cursor: pointer;
}
.search-submit:hover {
  opacity: 1;
}
.search-submit:focus {
  opacity: 1;
}
.search-submit:active svg {
  fill: #ee3643;
}

.search-submit svg {
  position: absolute;
  top: 50%;
  left: 17px;

  transform: translateY(-46%);
}

.header-button {
  position: relative;
  width: 150px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;
  word-break: break-word;
}
.header-button:hover {
  background-color: #212a3a;
}
.header-button:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.header-button.active {
  padding-left: 46px;

  background-color: #ee3643;
}
.header-button.active:hover {
  background-color: #ca2c37;
}
.header-button.active:active {
  background-color: #ba2732;
}

.header-button.bookmark::before,
.header-button.basket::before {
  position: absolute;
  content: "";

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
}
.header-button.bookmark:hover::before,
.header-button.basket:hover::before {
  opacity: 1;
}
.header-button.bookmark:active::before,
.header-button.basket:active::before {
  opacity: 0.5;
}

.header-button.bookmark::before {
  width: 14px;
  height: 16px;
  top: 50%;
  left: 17px;

  background-image: url("../img/icons/icon-bookmark.svg");

  transform: translateY(-56%);
}

.header-button.basket::before {
  width: 15px;
  height: 15px;
  top: 50%;
  left: 18px;

  background-image: url("../img/icons/icon-cart.svg");

  transform: translateY(-60%);
}

.header-button-order {
  width: 150px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  text-align: center;
  word-break: break-word;

  background-color: #63a63e;
}
.header-button-order:hover {
  background-color: #5fbb2d;
}
.header-button-order:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-info {
  padding-top: 47px;
  padding-bottom: 21px;
}

.header-info .container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.header-description {
  width: 320px;
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 0;
  margin-bottom: 0;

  color: #ee3643;
  font-size: 16px;
  line-height: 1.44;
  font-style: italic;
}

.header-contacts {
  width: 270px;
  margin-top: 0;
  margin-bottom: 0;

  text-align: center;
}

.header-telephone {
  display: block;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 42px;
  padding-right: 20px;

  color: #e9292a;
  font-size: 21px;
  line-height: 1;

  border: 2px solid #ffffff;
  background-color: #f4f7f9;
  background-image: url("../img/icons/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: 19px 19px;
  background-position: 13px 10px;
}
.header-telephone:hover {
  color: #000000;
}
.header-telephone:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-address {
  display: block;
  margin-top: 4px;

  color: #32425c;
  font-size: 14px;
  line-height: 1.71;
}

.user-navigation {
  width: 299px;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.user-controls {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0;
}

.user-button {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;

  font-size: 21px;
  line-height: 1;
  word-break: break-word;

  background-color: #ffffff;
}
.user-button:hover {
  color: #ee3643;
}
.user-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-button.button-login {
  padding-top: 11px;
  padding-left: 47px;
  padding-right: 26px;
  padding-bottom: 12px;
}

.user-button.button-register {
  margin-left: 10px;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.user-button.button-profile {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 47px;
  padding-right: 43px;
}
.user-button.button-profile:hover {
  color: #000000;
}
.user-button.button-profile:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-button.button-exit {
  position: absolute;
  top: 0;
  right: 0;
  width: 43px;
  height: calc(100% - 5px);
}

.user-button svg {
  position: absolute;
}

.user-button.button-login svg {
  top: 13px;
  left: 14px;
}

.user-button.button-profile svg {
  top: 12px;
  left: 13px;
}

.user-button.button-exit svg {
  top: 13px;
  left: 12px;
}

.user-button path {
  fill: #c5c5c5;
}
.user-button:hover path {
  fill: #2e405c;
}
.user-button:active path {
  fill: #c5c5c5;
}

.user-link {
  position: relative;
  display: inline-block;
  margin-left: 17px;
  margin-right: 17px;

  color: #32425c;
  font-size: 16px;
  line-height: 1.13;
  word-break: break-word;

  text-decoration: underline;
}
.user-link:hover {
  color: #ee3643;
}
.user-link:active {
  color: rgba(50, 66, 92, 0.3);
}

.user-link:not(:first-of-type) {
  margin-left: 13px;
}

.user-link:not(:first-of-type)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -17px;
  display: inline-block;
  width: 4px;
  height: 4px;

  border-radius: 100%;
  background-color: #32425c;

  transform: translateY(-50%);
}

.header-navigation {
  padding-bottom: 48px;
}

.header-navigation-list {
  position: relative;
  min-height: 55px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  padding-left: 0;

  color: #ffffff;
  font-size: 17px;
  line-height: 1;

  list-style-type: none;
  background-color: #32425c;
  box-shadow: 0 5px #243147;
}

.header-navigation-item {
  min-height: 55px;
}

.header-navigation-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;

  text-align: center;
}

.header-navigation-link:hover {
  background-color: #293449;
}
.header-navigation-link:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

/* main page styles */

.advantages-section {
  margin-top: 59px;
  margin-bottom: 33px;
}

.advantages-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 0;

  color: #ffffff;
}

.advantages-item {
  position: relative;
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 21px;
  padding-bottom: 21px;

  background-repeat: no-repeat;
  overflow: hidden;
}

.advantages-item.item-new::after {
  content: "new";
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ff5156;
  width: 100%;
  height: 27px;
  color: #fff;
  font-size: 15px;
  line-height: 1.7;
  display: flex;
  align-items: baseline;
  justify-content: center;
  box-sizing: border-box;
  transform: translate(129px, 6px) rotate(45deg);
}

.advantages-item.item-materials {
  background-color: #ffbf47;
  background-image: url("../img/icons/icon-1.svg");
  background-size: 44px 65px;
  background-position: 213px 31px;
}
.advantages-item.item-tools {
  background-color: #3bbce3;
  background-image: url("../img/icons/icon-2.svg");
  background-size: 75px 61px;
  background-position: 197px 33px;
}
.advantages-item.item-tech {
  background-color: #dc91d8;
  background-image: url("../img/icons/icon-3.svg");
  background-size: 78px 62px;
  background-position: 191px 31px;
}
.advantages-item.item-sale {
  background-color: #8ed78f;
  background-image: url("../img/icons/icon-4.svg");
  background-size: 59px 72px;
  background-position: 196px 26px;
}
.advantages-item.item-delivery {
  background-color: #ffc047;
  background-image: url("../img/icons/icon-5.svg");
  background-size: 78px 63px;
  background-position: 191px 32px;
}

.advantages-title {
  max-width: 145px;
  margin: 0;

  font-size: 24px;
  line-height: 1.25;
  font-weight: bold;
}

.advantages-button {
  max-width: 135px;
  width: 100%;
  display: inline-block;
  margin-top: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.advantages-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.advantages-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.offers-slider {
  position: relative;
}

.offers-list {
  margin: 0;
  padding-left: 0;

  color: #ffffff;
  font-size: 18px;
  line-height: 1.33;

  list-style-type: none;
}

.offers-item {
  display: none;
  width: 620px;
  min-height: 266px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 24px;
  padding-right: 24px;

  background-color: #716156;
  background-repeat: no-repeat;
  background-size: 100%;
}

.offers-item.current {
  display: flex;
}

.offers-item:nth-of-type(1) {
  background-image: url("../img/pictures/slider-image_drill.jpg");
}
.offers-item:nth-of-type(2) {
  background-image: url("../img/pictures/slide-image_perforator.jpg");
}

.offers-title {
  margin: 0;

  font-size: 36px;
  line-height: 1;
  font-weight: bold;

  text-transform: uppercase;
  word-break: break-word;
}

.offers-subtitle {
  display: block;
  margin-top: 3px;

  word-break: break-word;
}

.offers-button {
  width: 195px;
  margin-top: auto;
  margin-left: 1px;
  padding-top: 11px;
  padding-left: 14px;

  color: inherit;
  letter-spacing: 0.1px;

  border: none;
}

.offers-nav {
  position: absolute;
  width: 22px;
  height: 40px;
  top: 50%;

  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 22px 40px;

  transform: translateY(-48%);
  cursor: pointer;
}

.offers-nav.nav-previous {
  left: 25px;

  background-image: url("../img/icons/icon-left.svg");
}

.offers-nav.nav-next {
  right: 20px;

  background-image: url("../img/icons/icon-right.svg");
}

.offers-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin: 0;

  transform: translateX(-50%);
}

.offers-dot {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  padding: 0;

  border: none;

  border-radius: 100%;
  background-color: #ffffff;
}

.offers-dot:not(:first-of-type) {
  margin-left: 7px;
}

.offers-dot.active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;

  border-radius: 100%;
  background-color: #ee3643;

  transform: translate(-50%,-50%);
}

.products-header,
.providers-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 21px;
  margin-bottom: 20px;
  padding-top: 26px;
  padding-bottom: 25px;
  padding-left: 28px;
  padding-right: 24px;

  background-color: #f9f5f0;
}

.products-title,
.providers-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;

  color: #32425c;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;

  text-transform: uppercase;
}

.products-button,
.providers-button {
  position: relative;
  top: -1px;
  min-width: 253px;
}

.products-list {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 0;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: bold;

  list-style-type: none;
}

.products-list.list-columns-3 .products-item {
  margin-bottom: 20px;
}

.products-list.list-columns-4 .products-item:not(:nth-of-type(4n-3)),
.products-list.list-columns-3 .products-item:not(:nth-of-type(3n-2)) {
  margin-left: 20px;
}

.products-item {
  position: relative;
  width: 220px;
  min-height: 318px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding-bottom: 20px;

  text-align: center;
  border: solid 1px #eaeaea;

  overflow: hidden;
}

.products-item.item-new::after {
  content: "new";
  position: absolute;
  width: 100%;
  height: 27px;
  top: 0;
  right: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;

  color: #fff;
  font-family: 'Cuprum', 'Arial Narrow', sans-serif;
  font-size: 15px;
  line-height: 1.7;

  box-sizing: border-box;
  background-color: #ee3643;
  transform: translate(90px, 6px) rotate(45deg);
}

.products-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  border-color: #ffffff;
}

.products-item:hover .products-picture,
.products-item .products-item-button:focus ~ .products-picture {
  opacity: 0;
}

.products-link:hover {
  color: #ee3643;
  opacity: 0.8;
}
.products-link:active {
  opacity: 0.2;
}

.products-name {
  margin-top: 9px;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;

  font-size: 18px;
  line-height: 1.15;
  word-break: break-word;
}

.products-price-block {
  margin-top: auto;
  margin-bottom: 0;
}

.products-picture {
  order: -1;
}

.products-price {
  display: inline-block;
  margin-left: 8px;
  padding-left: 35px;
  padding-right: 39px;

  font-size: 17px;
  line-height: 1.06;
  text-align: center;
  text-transform: uppercase;
}

.products-price.price-old {
  margin-top: 9px;
  margin-bottom: 10px;

  color: #a9a9a9;

  text-decoration: line-through;
}

.products-price.price-actual {
  position: relative;
  align-self: center;
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
}

.products-price.price-actual::after {
  content: "";
  position: absolute;
  right: -19px;
  top: 0;
  height: 100%;

  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

.products-item-button:focus,
.products-item:hover .products-item-button{
  position: absolute;
  z-index: 2;
  left: 41px;
  width: 135px;
  height: auto;
  margin: 0;
  padding-left: 3px;

  font-family: 'Cuprum', 'Arial Narrow', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  font-weight: normal;

  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;

  clip-path: none;
  clip: auto;
}

.products-item-button:not(:focus) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.products-item-button.button-buy {
  top: 43px;
  padding-top: 11px;
  padding-bottom: 6px;

  color: #ffffff;

  background-color: #63a63e;
  box-shadow: 0 3px #33740d;
}

.products-item-button.button-buy::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;
  width: 15px;
  height: 15px;

  background-image: url("../img/icons/icon-cart.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.3;
}

.products-item-button.button-buy:hover {
  background-color: #5fbb2d;
}
.products-item-button.button-buy:hover::before {
  opacity: 1;
}
.products-item-button.button-buy:active {
  background-color: #518534;
  box-shadow: 0 3px #518534;
}
.products-item-button.button-buy:active::before {
  opacity: 1;
}

.products-item-button.button-bookmark {
  top: 89px;
  padding-top: 8px;
  padding-bottom: 6px;

  color: #32425c;

  border: solid 3px #63a63e;
}
.products-item-button.button-bookmark:hover {
  border: solid 3px #32425c;
}
.products-item-button.button-bookmark:active {
  border: solid 3px #32425c;
  opacity: 0.3;
}

.providers-section {
  margin-top: 20px;
  margin-bottom: 65px;
}

.providers-list {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 0;

  list-style-type: none;
}

.providers-item {
  width: 220px;
  min-height: 145px;
  margin-bottom: 20px;

  border: solid 1px #eaeaea;
}
.providers-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  border: none;
}
.providers-item:active {
  opacity: 0.3;
}

.providers-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.providers-item:not(:nth-of-type(4n-3)) {
  margin-left: 20px;
}

.providers-logo {
  display: block;
}

.services-title,
.info-title,
.contacts-title,
.aside-title {
  font-size: 30px;
  line-height: 1;
  font-weight: normal;

  text-transform: uppercase;
}

.services-desc,
.services-card-desc,
.info-desc,
.contacts-desc,
.aside-text {
  margin-top: 24px;
  margin-bottom: 24px;

  font-family: 'PT Sans', 'Arial', sans-serif;
  letter-spacing: 0.1px;

  word-break: break-word;
}

.services-section {
  padding-top: 65px;

  background-color: #f4f7f9;
}

.services-title {
  margin-top: 0;
  margin-bottom: 26px;
}

.services-desc {
  width: 410px;
}

.services-tabs {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.services-button-list {
  position: relative;
  width: 240px;
  flex-shrink: 0;
  margin-top: 45px;
  margin-bottom: 0;
  padding-left: 0;

  color: #ffffff;
  font-size: 21px;
  line-height: 1.43;

  list-style-type: none;
}

.services-button-list::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 10px;
  height: 279px;

  background-image: url("../img/pictures/shadow.png");
  background-repeat: no-repeat;
  background-size: 100%;

  transform: translateY(-50%);
}

.services-button {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 22px;
  padding-right: 22px;

  font-weight: bold;
  text-align: left;
  color: inherit;

  border: none;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}
.services-button:hover {
  background-color: #293449;
}

.services-button-item.active .services-button {
  color: #32425c;

  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.services-card-list {
  margin-top: 0;
  margin-bottom: 0;
  flex-grow: 1;
  padding-left: 0;

  list-style-type: none;
}

.services-card-title {
  position: relative;
  z-index: 2;
  max-width: 375px;
  margin-top: 0;
  margin-bottom: 25px;

  color: #32425c;
  font-size: 36px;
  line-height: 1;
  font-weight: normal;
  letter-spacing: 0.4px;

  text-transform: uppercase;
}

.services-card-desc {
  position: relative;
  z-index: 2;
  width: 375px;
}

.services-card-button {
  display: inline-block;
  vertical-align: middle;
  min-width: 195px;
  margin-top: 2px;
}

.services-card-item {
  position: relative;
  display: none;
  min-height: 286px;
  margin-top: 43px;
  padding-left: 80px;
  padding-right: 80px;
}

.services-card-item.active {
  display: block;
}

.services-card-item.item-delivery::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 1px;
  width: 468px;
  height: 261px;

  background-image: url("../img/pictures/delivery.png");
  background-repeat: no-repeat;
  background-size: 468px 261px;
}

.services-card-item.item-guaranty::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -8px;
  width: 389px;
  height: 283px;

  background-image: url(../img/pictures/guarantee.png);
  background-repeat: no-repeat;
  background-size: 389px 283px;
}

.services-card-item.item-credit::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 465px;
  height: 285px;

  background-image: url(../img/pictures/credit.png);
  background-repeat: no-repeat;
  background-size: 465px 285px;
}

.about-section {
  padding-top: 79px;
  padding-bottom: 86px;
}

.about-section .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.info-section {
  flex-grow: 1;
  margin-right: 120px;
}

.contacts-section {
  width: 300px;
  flex-shrink: 0;
}

.info-title,
.contacts-title {
  margin-top: 0;
  margin-bottom: 26px;

  word-break: break-word;
}

.info-desc:last-of-type {
  margin-bottom: 21px;
}

.info-list {
  margin-top: 21px;
  margin-bottom: 21px;
  padding-left: 36px;

  font-size: 18px;
  line-height: 1.11;
  font-weight: bold;
  word-break: break-word;

  list-style-type: none;
}

.info-item {
  position: relative;
  letter-spacing: -0.4px;
}

.info-item:not(:last-of-type) {
  margin-bottom: 21px;
}

.info-item::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: -36px;
  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.info-button {
  display: inline-block;
  margin-top: 16px;
  min-width: 220px;
}

.contacts-map-button {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
}

.contacts-feedback-button {
  display: inline-block;
  min-width: 100%;
  margin-top: 32px;
}

/* footer styles */

.footer {
  color: #ffffff;

  background-color: #32425c;
}

.footer .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-info {
  flex-basis: 330px;
  flex-shrink: 0;
  margin-right: 20px;
}

.footer-logo {
  width: 220px;
  height: 63px;
}

.footer-contacts {
  margin-top: 33px;
  margin-left: 3px;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 1.34;
}

.footer-navigation {
  flex-grow: 1;
  margin: 20px 0;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  font-size: 18px;
  line-height: 1.33;
  text-align: center;

  list-style-type: none;
}

.footer-navigation-list.navigation-top .footer-navigation-item:not(:first-of-type) {
  margin-left: 60px;
}

.footer-navigation-list.navigation-bottom .footer-navigation-item:not(:first-of-type) {
  margin-left: 59px;
}

.footer-navigation-list.navigation-top .footer-navigation-item {
  letter-spacing: -0.2px;
}

.footer-navigation-list.navigation-bottom {
  color: #ffd180;
}

.footer-navigation-item {
  padding-top: 18px;
  padding-bottom: 18px;
}

.footer-navigation-link:hover {
  text-decoration: underline;
}
.footer-navigation-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-links {
  margin-top: 35px;
  padding-top: 21px;
  padding-bottom: 17px;

  background-color: #293449;
}

.footer-copyright {
  width: 240px;
  flex-shrink: 0;
  margin-right: 15px;
  padding-left: 1px;

  font-size: 16px;
  line-height: 1.13;
}

.footer-social-list {
  flex-grow: 1;
  padding-left: 52px;
  padding-right: 20px;

  text-align: center;

  list-style-type: none;
}

.footer-social-item {
  display: inline-block;
  vertical-align: middle;
  padding-top: 1px;
}

.footer-social-link {
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;

  border-radius: 100%;
  background-color: #212a3a;
}
.footer-social-link:hover,
.footer-social-link:active {
  background-color: #ee3643;
}

.footer-social-link.vk {
  background-image: url("../img/icons/icon-vk.svg");
  background-repeat: no-repeat;
  background-size: 26px 15px;
  background-position: 8px 13px;
}
.footer-social-link.facebook {
  background-image: url("../img/icons/icon-fb.svg");
  background-repeat: no-repeat;
  background-size: 12px 22px;
  background-position: 15px 10px;
}
.footer-social-link.instagram {
  background-image: url("../img/icons/icon-insta.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position: 10px 10px;
}

.footer-feedback,
.footer-author {
  margin-top: 16px;
  margin-bottom: 0;
  margin-left: 15px;

  font-size: 16px;
  line-height: 1.13;
}

.footer-feedback {
  width: 173px;
  flex-shrink: 0;
}

.footer-author {
  width: 111px;
  flex-shrink: 0;
}

.footer-link {
  color: #ffd180;
}
.footer-link:hover {
  text-decoration: underline;
}
.footer-link:active {
  color: #ee3643;

  text-decoration: none;
}

/* catalog styles */

.page-title {
  margin-top: 19px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-right: 29px;
  padding-left: 29px;

  color: #32425c;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;

  background-color: #f2f6f8;
  text-transform: uppercase;
}

.breadcrumbs-list {
  margin-top: 16px;
  margin-bottom: 17px;
  padding-left: 0;

  word-break: break-word;

  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  font-family: 'PT Sans', 'Arial', sans-serif;
  line-height: 1.38;

  text-transform: uppercase;
}

.breadcrumbs-link {
  display: inline-block;
  vertical-align: middle;
}
.breadcrumbs-link:hover {
  opacity: 0.5;
}
.breadcrumbs-link:active {
  opacity: 0.2;
}

.breadcrumbs-item:first-of-type .breadcrumbs-link {
  position: relative;
  top: -1px;
  left: -1px;
  width: 14px;
  height: 12px;

  background-image: url("../img/icons/icon-home.svg");
  background-repeat: no-repeat;
  background-size: 14px 12px;
}

.breadcrumbs-item:not(:first-of-type) {
  margin-left: 38px;
}

.breadcrumbs-item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 8px;
  height: 12px;

  background-image: url("../img/icons/icon-right-small.svg");
  background-repeat: no-repeat;
  background-size: 100%;

  transform: translateY(-50%);
}

.filter-section {
  width: 220px;

  font-family: 'PT Sans', 'Arial', sans-serif;
}

.filter-title,
.sorting-title {
  font-size: 13px;
  line-height: 1.38;
  font-weight: normal;

  word-break: break-word;

  text-transform: uppercase;
}

.filter-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 19px;
  padding-right: 19px;

  background-color: #f7f3ec;
}

.filter-form-title {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 17px;
  line-height: 1.76;
  font-weight: bold;

  text-transform: uppercase;
}

.filter-block:not(:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}

.filter-block.block-price {
  padding-top: 12px;
  padding-bottom: 25px;
}

.filter-block.block-manufacture {
  padding-top: 17px;
  padding-bottom: 12px;
}

.filter-block.block-power {
  padding-top: 18px;
  padding-bottom: 25px;
}

.filter-price-range {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  font-size: 17px;
  line-height: 1.06;
}

.filter-price-track {
  position: relative;
  flex-basis: 100%;
  flex-grow: 1;
  height: 80px;
  margin-top: 14px;
  margin-bottom: 9px;

  background-color: #f7f3ec;
}

.filter-price-pin {
  position: absolute;
  top: 30px;
  width: 20px;
  height: 22px;

  border: none;
  background-color: transparent;
  background-image: url("../img/icons/filter-button.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.filter-price-pin.pin-min {
  left: 20px;
}

.filter-price-pin.pin-max {
  right: 40px;
}

.filter-price-line {
  position: absolute;
  top: 39px;
  left: 20px;
  height: 2px;
}

.filter-price-line.line-empty {
  width: 180px;

  background-color: #d7dcde;
}

.filter-price-line.line-fill {
  width: 152px;

  background-color: #00cb75;
}

.filter-price {
  width: 95px;
  padding-top: 9px;
  padding-bottom: 11px;
  text-align: center;

  background-color: #f7f3ec;
  border: none;
}

.filter-price.price-min {
  padding-left: 21px;
}

.filter-price.price-max {
  padding-left: 17px;
}

.filter-price-separator {
  width: 10px;
  height: 1px;
  background-color: #444444;
}

.filter-row {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 11px;
}

.filter-row:first-of-type {
  margin-top: 4px;
}

.filter-checkbox-label,
.filter-radio-label {
  position: relative;
  display: block;
  padding-left: 34px;

  font-size: 15px;
  line-height: 1.33;

  text-transform: uppercase;
}

.filter-checkbox-text::before,
.filter-radio-text::before {
  content: "";
}

.filter-checkbox-label:hover .filter-checkbox-text::before,
.filter-radio-label:hover .filter-radio-text::before {
  opacity: 1;
}

.filter-checkbox,
.filter-radio {
  position: absolute;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter-checkbox-text::before,
.filter-radio-text::before {
  position: absolute;
  width: 27px;
  height: 27px;

  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.75;
}

.filter-checkbox-text::before {
  top: -1px;
  left: 0;

  background-image: url("../img/icons/checkbox-off.svg");
}

.filter-radio-text::before {
  top: -2px;
  left: -1px;

  background-image: url("../img/icons/radio-off.svg");
}

.filter-checkbox:focus + .filter-checkbox-text::before,
.filter-radio:focus + .filter-radio-text::before {
  outline: -webkit-focus-ring-color auto 1px;
}

.filter-checkbox:checked + .filter-checkbox-text::before {
  background-image: url("../img/icons/checkbox-on.svg");
}

.filter-radio:checked + .filter-radio-text::before {
  background-image: url("../img/icons/radio-on.svg");
}

.filter-checkbox:disabled + .filter-checkbox-text::before,
.filter-checkbox:disabled ~ .filter-checkbox-text,
.filter-radio:disabled + .filter-radio-text::before,
.filter-radio:disabled ~ .filter-radio-text {
  opacity: 0.3;
}

.filter-button-submit {
  min-width: 140px;
  margin-top: 43px;
  padding-top: 10px;
  padding-bottom: 9px;

  color: inherit;
  font-size: 13px;
  line-height: 1.38;
  word-break: break-word;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  text-transform: uppercase;
}
.filter-button-submit:hover {
  border: solid 1px #bdc6ca;
}
.filter-button-submit:active {
  border: solid 1px #ee3643;
}

.sorting-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 19px;
  padding-right: 17px;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 1.38;

  background-color: #f7f3ec;
  text-transform: uppercase;
}

.sorting-title {
  flex-grow: 1;

  margin-top: 0;
  margin-bottom: 0;

  display: inline-block;
}

.sorting-types-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-basis: 364px;
  flex-shrink: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  padding-left: 0;

  list-style-type: none;
}

.sorting-types-item {
  margin-left: 10px;
}

.sorting-types-button {
  color: rgba(0, 0, 0, 0.18);
  border-bottom: 1px dotted #ee3643;
}
.sorting-types-button:hover {
  color: inherit;
  border-bottom: 1px solid #ee3643;
}
.sorting-types-button:active,
.sorting-types-item.active .sorting-types-button {
  color: #ee3643;
  border-bottom: none;
}

.sorting-orders-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 43px;
  flex-shrink: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 46px;
  padding-left: 0;

  list-style-type: none;
}

.sorting-orders-button {
  position: relative;
  top: 1px;
  display: inline-block;
}

.sorting-orders-button.button-asc {
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-top: 0;
  border-bottom: 10px solid #c5c5c5;
}

.sorting-orders-button.button-desc {
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-top: 10px solid #c5c5c5;
  border-bottom: 0;
}

.sorting-orders-item:hover .sorting-orders-button.button-asc {
  border-bottom-color: #000000;
}

.sorting-orders-item:hover .sorting-orders-button.button-desc {
  border-top-color: #000000;
}

.sorting-orders-item.active .sorting-orders-button.button-asc {
  border-bottom-color: #ee3643;
}

.sorting-orders-item.active .sorting-orders-button.button-desc {
  border-top-color: #ee3643;
}

.pagination-section {
  margin-top: 32px;
  margin-bottom: 50px;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 1.38;

  text-transform: uppercase;
}

.pagination-list {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

.pagination-item {
  display: inline-block;
}

.pagination-item:not(:first-of-type) {
  margin-left: 7px;
}

.pagination-link {
  display: inline-block;
  min-width: 38px;
  margin-bottom: 10px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  text-align: center;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}
.pagination-link:hover {
  border: solid 1px #bdc6ca;
}
.pagination-link:active {
  border: solid 1px #ee3643;
}

.pagination-item.current .pagination-link {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.pagination-link.hidden {
  display: none;
}

.pagination-link.link-nav {
  min-width: 140px;
  margin-left: 6px;
}

.aside-section {
  padding-top: 65px;
  padding-bottom: 68px;

  background-color: #f4f7f9;
}

.aside-title {
  margin-top: 0;
  margin-bottom: 26px;
}

.aside-text {
  margin-top: 0;
  margin-bottom: 0;
}

/* feedback form styles */

.feedback-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  padding-top: 47px;

  font-size: 18px;
  line-height: 1;

  transform: translate(-50%, -50%);

  border-top: 7px solid #ff5256;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.feedback-form.show {
  display: block;
}

.feedback-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 460px;
  margin: 0 auto;
}

.feedback-column {
  width: 220px;
  margin-top: 0;
  margin-bottom: 20px;
}

.feedback-row {
  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 37px;
}

.feedback-field {
  display: block;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 14px;
  padding-right: 14px;

  color: #999999;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 1.38;

  border: solid 2px #dee3e4;
  border-radius: 3px;
}
.feedback-field:hover {
  border: solid 2px #b5b5b5;
}
.feedback-field:focus {
  border: solid 2px #ee3643;
}

.feedback-field::placeholder {
  color: #999999;
}

.feedback-column .feedback-field {
  margin-top: 9px;
}

.feedback-row .feedback-field {
  margin-top: 10px;
  min-height: 114px;

  resize: none;
}

.feedback-footer {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 37px;
  padding-bottom: 37px;

  text-align: center;
}

.feedback-footer,
.order-footer {
  background-color: #f1f1f1;
}

.feedback-button-send {
  width: 460px;
}

.feedback-button-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;

  background-color: transparent;
  background-image: url("../img/icons/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
}
.feedback-button-close:hover {
  opacity: 0.5;
}
.feedback-button-close:active {
  opacity: 0.2;
}

.order-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  padding-top: 35px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
  border-top: 7px solid #ff5256;

  transform: translate(-50%, -50%);
}

.order-popup.show {
  display: block;
}

.order-title {
  position: relative;
  margin-top: 30px;
  margin-bottom: 68px;
  padding-left: 56px;

  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  text-align: center;
}

.order-title::before {
  content: "";
  position: absolute;
  top: -17px;
  left: 81px;
  width: 66px;
  height: 66px;

  background-image: url("../img/icons/icon-mark.svg");
  background-repeat: no-repeat;
}

.order-footer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 0;
  margin-bottom: 0;
}

.order-button-buy,
.order-button-continue {
  flex-basis: 50%;
}

.order-button-continue {
  margin-left: 20px;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;

  color: inherit;

  border: 2px solid #ffffff;
  border-radius: 3px;
  background-color: #ffffff;
  text-transform: uppercase;
}
.order-button-continue:hover {
  border: 2px solid #ee3643;
}
.order-button-continue:active {
  border: 2px solid #ee3643;
  opacity: 0.3;
}

.order-button-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;

  background-color: transparent;
  background-image: url("../img/icons/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
}
.order-button-close:hover {
  opacity: 0.5;
}
.order-button-close:active {
  opacity: 0.2;
}

.map-popup {
  position: fixed;
  display: none;
  max-width: 100%;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.map-popup.show {
  display: block;
}

.map-button-close {
  position: absolute;
  top: 9px;
  right: 19px;
  width: 21px;
  height: 21px;

  background-color: transparent;
  background-image: url("../img/icons/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
}
.map-button-close:hover {
  opacity: 0.5;
}
.map-button-close:active {
  opacity: 0.2;
}

.map-image {
  box-shadow: 0 0 14px rgba(47,42,43,0.5);
}
