html {
  box-sizing: border-box;

  font-family: 'Cuprum', 'Arial Narrow', sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 1.85;
}

*, *::after, *::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;

  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;

  border: none;
  border-radius: 3px;
  text-align: center;
  background-color: #ee3643;
}
.button:hover {
  background-color: #ca2c37;
}
.button:active {
  background-color: #ba2732;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.container.container-catalog {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.container.container-catalog .right-column {
  width: 700px;
}

.container.container-catalog .products-item {
  margin-bottom: 19px;
}

/* header styles */

.header {
  background-color: #f4f7f9;
}

.header-search {
  color: #ffffff;
  font-size: 17px;
  line-height: 1.06;

  background-color: #293449;
}

.header-search .container {
  min-height: 42px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.header-logo {
  width: 220px;
  flex-shrink: 0;
}

.header-logo,
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ee3643;
}
.header-logo:hover,
.footer-logo:hover {
  background-color: #ca2c37;
}
.header-logo:active,
.footer-logo:active {
  background-color: #ba2732;
}

.search-form {
  flex-grow: 1;
}

.search-request {
  width: 100%;
  height: 100%;
  padding-left: 49px;
  padding-right: 10px;

  color: inherit;
  font-size: inherit;
  line-height: inherit;

  background-color: #293449;
  border: none;
}
.search-request::placeholder {
  color: inherit;
}
.search-request:hover {
  background-color: #212a3a;
}
.search-request:focus {
  color: #000000;

  background-color: #ffffff;
}

.header-button {
  width: 150px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 18px;
}
.header-button:hover {
  background-color: #212a3a;
}
.header-button:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.header-button.active {
  padding-left: 24px;

  background-color: #ee3643;
}
.header-button.active:hover {
  background-color: #ca2c37;
}
.header-button.active:active {
  background-color: #ba2732;
}

.header-button-order {
  width: 150px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #63a63e;
}
.header-button-order:hover {
  background-color: #5fbb2d;
}
.header-button-order:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-info {
  padding-top: 47px;
  padding-bottom: 21px;
}

.header-info .container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.header-description {
  width: 320px;
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 0;
  margin-bottom: 0;

  color: #ee3643;
  font-size: 16px;
  line-height: 1.44;
  font-style: italic;
}

.header-contacts {
  width: 270px;
  margin-top: 0;
  margin-bottom: 0;

  text-align: center;
}

.header-telephone {
  display: block;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 42px;
  padding-right: 20px;

  color: #e9292a;
  font-size: 21px;
  line-height: 1;

  border: 2px solid #ffffff;
}
.header-telephone:hover {
  color: #ca2c37;
}
.header-telephone:active {
  color: #ba2732;
}

.header-address {
  display: block;
  margin-top: 4px;

  color: #32425c;
  font-size: 14px;
  line-height: 1.71;
}

.user-navigation {
  width: 299px;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.user-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0;
}

.user-button {
  display: inline-block;
  margin-bottom: 6px;

  font-size: 21px;
  line-height: 1;

  background-color: #ffffff;
}
.user-button:hover {
  color: #ee3643;
}
.user-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-button.button-login {
  padding-top: 11px;
  padding-left: 47px;
  padding-right: 26px;
  padding-bottom: 12px;
}

.user-button.button-register {
  margin-left: 10px;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.user-button.button-profile {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 47px;
  padding-right: 43px;
}
.user-button.button-profile:hover {
  color: #000000;
}
.user-button.button-profile:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-button.button-exit {
  display: none; /* временно */
}

.user-link {
  display: inline-block;
  margin-left: 17px;
  margin-right: 17px;

  color: #32425c;
  font-size: 16px;
  line-height: 1.13;

  text-decoration: underline;
}
.user-link:hover {
  color: #ee3643;
}
.user-link:active {
  color: rgba(50, 66, 92, 0.3);
}

.header-navigation {
  padding-bottom: 48px;
}

.header-navigation-list {
  min-height: 55px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-left: 0;

  color: #ffffff;
  font-size: 17px;
  line-height: 1;

  list-style-type: none;
  background-color: #32425c;
}

.header-navigation-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;

  text-align: center;
}

.header-navigation-item:hover {
  background-color: #293449;
}
.header-navigation-item:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

/* main page styles */

.advantages-section {
  margin-top: 59px;
  margin-bottom: 33px;
}

.advantages-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 0;

  color: #ffffff;
}

.advantages-item {
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.advantages-item.item-materials {
  background-color: #ffbf47;
}
.advantages-item.item-tools {
  background-color: #3bbce3;
}
.advantages-item.item-tech {
  background-color: #dc91d8;
}
.advantages-item.item-sale {
  background-color: #8ed78f;
}
.advantages-item.item-delivery {
  background-color: #ffc047;
}

.advantages-title {
  margin: 0;

  font-size: 24px;
  line-height: 1.25;
  font-weight: bold;
}

.advantages-button {
  max-width: 135px;
  width: 100%;
  display: inline-block;
  margin-top: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.advantages-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.advantages-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.offers-list {
  margin: 0;
  padding-left: 0;

  color: #ffffff;
  font-size: 18px;
  line-height: 1.33;

  list-style-type: none;
}

.offers-item {
  display: none;
  width: 620px;
  min-height: 266px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 24px;
  padding-right: 24px;

  background-color: #716156;
}

.offers-item.current {
  display: flex;
}

.offers-title {
  margin: 0;

  font-size: 36px;
  line-height: 1;
  font-weight: bold;

  text-transform: uppercase;
}

.offers-subtitle {
  display: block;
  margin-top: 3px;
}

.offers-button {
  min-width: 195px;
  margin-top: auto;

  color: inherit;

  border: none;
}

.offers-nav {
  display: none; /* временно */
}

.offers-dot {
  display: none; /* временно */

  color: inherit;

  border: none;
  background-color: #ffffff;
}

.products-header,
.providers-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 26px;
  padding-bottom: 25px;
  padding-left: 28px;
  padding-right: 24px;

  background-color: #f9f5f0;
}

.products-title,
.providers-title {
  margin: 0;

  color: #32425c;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;

  text-transform: uppercase;
}

.products-button,
.providers-button {
  min-width: 253px;
}

.products-list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: bold;

  list-style-type: none;
}

.products-item {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding-bottom: 21px;

  text-align: center;
  border: solid 1px #eaeaea;
}

.products-name {
  margin-top: 10px;
  margin-bottom: 13px;
  padding-left: 15px;
  padding-right: 15px;

  font-size: 18px;
  line-height: 1.11;
}

.products-picture {
  order: -1;
}

.products-price {
  display: block;

  font-size: 17px;
  line-height: 1.06;
  text-align: center;
  text-transform: uppercase;
}

.products-price.price-old {
  margin-bottom: 10px;

  color: #a9a9a9;

  text-decoration: line-through;
}

.products-price.price-actual {
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  color: #ffffff;

  background-color: #ee3643;
}

.products-item-button {
  display: none;

  font-family: 'Cuprum', 'Arial Narrow', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  font-weight: normal;

  text-align: center;
  text-transform: uppercase;
}

.products-item-button.button-buy {
  color: #ffffff;

  background-color: #63a63e;
}
.products-item-button.button-buy:hover {
  background-color: #5fbb2d;
}
.products-item-button.button-buy:active {
  background-color: #518534;
}

.products-item-button.button-bookmark {
  color: #32425c;

  border: solid 3px #63a63e;
}
.products-item-button.button-bookmark:hover {
  border: solid 3px #32425c;
}
.products-item-button.button-bookmark:active {
  border: solid 3px #32425c;
  opacity: 0.3;
}

.providers-section {
  margin-top: 20px;
  margin-bottom: 66px;
}

.providers-list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;

  list-style-type: none;
}

.providers-item {
  width: 220px;
  min-height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  border: solid 1px #eaeaea;
}

.providers-logo {
  display: block;
}

.services-title,
.info-title,
.contacts-title,
.aside-title {
  font-size: 30px;
  line-height: 1;
  font-weight: normal;

  text-transform: uppercase;
}

.services-desc,
.services-card-desc,
.info-desc,
.contacts-desc,
.aside-text {
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.services-section {
  padding-top: 65px;

  background-color: #f4f7f9;
}

.services-title {
  margin: 0;
}

.services-tabs {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.services-button-list {
  width: 240px;
  flex-shrink: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  color: #ffffff;
  font-size: 21px;
  line-height: 1.43;

  list-style-type: none;
}

.services-button {
  width: 100%;
  font-weight: bold;
  color: inherit;

  border: none;
  background-color: #32425c;
  text-align: left;
}
.services-button:hover {
  background-color: #293449;
}

.services-button-item.active .services-button {
  color: #32425c;

  background-color: #ffffff;
}

.services-card-list {
  margin-top: 0;
  margin-bottom: 0;
  flex-grow: 1;
  padding-left: 0;

  list-style-type: none;
}

.services-card-title {
  color: #32425c;
  font-size: 36px;
  line-height: 1;
  font-weight: normal;

  text-transform: uppercase;
}

.services-card-item {
  display: none;
  min-height: 341px;
}

.services-card-item.active {
  display: block;
}

.about-section {
  padding-top: 79px;
  padding-bottom: 187px;
}

.about-section .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.info-section {
  flex-grow: 1;
}

.contacts-section {
  width: 300px;
  flex-shrink: 0;
}

.info-title {
  margin-top: 0;
  margin-bottom: 0;
}

.info-list {
  font-size: 18px;
  line-height: 1.11;
  font-weight: bold;

  list-style-type: none;
}

.contacts-title {
  margin-top: 0;
  margin-bottom: 0;
}

/* footer styles */

.footer {
  color: #ffffff;

  background-color: #32425c;
}

.footer .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-info {
  width: 322px;
  flex-shrink: 0;
}

.footer-contacts {
  font-size: 18px;
  line-height: 1.33;
}

.footer-navigation {
  flex-grow: 1;
}

.footer-navigation-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 0;

  font-size: 18px;
  line-height: 1.33;

  list-style-type: none;
}

.footer-navigation-list.navigation-bottom {
  color: #ffd180;
}

.footer-navigation-item:hover {
  text-decoration: underline;
}
.footer-navigation-item:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-links {
  background-color: #293449;
}

.footer-copyright {
  width: 240px;
  flex-shrink: 0;

  font-size: 16px;
  line-height: 1.13;
}

.footer-social-list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-left: 0;

  list-style-type: none;
}

.footer-social-item {
  width: 42px;
  height: 42px;

  background-color: #212a3a;
}
.footer-social-item:hover {
  background-color: #ee3643;
}

.footer-feedback {
  width: 175px;
  flex-shrink: 0;
}

.footer-author {
  width: 145px;
  flex-shrink: 0;
}

.footer-link {
  color: #ffd180;
}
.footer-link:hover {
  text-decoration: underline;
}
.footer-link:active {
  color: #ee3643;

  text-decoration: none;
}

/* feedback form styles */

.feedback-label {
  font-size: 18px;
  line-height: 1;
}

.feedback-field {
  font-family: 'PT Sans', 'Arial', sans-serif;
  color: #999999;

  border: solid 2px #d7dcde;
}
.feedback-field:hover {
  border: solid 2px #b5b5b5;
}
.feedback-field:focus {
  border: solid 2px #ee3643;
}

.feedback-footer,
.order-footer {
  background-color: #f1f1f1;
}

.feedback-button-close {
  color: inherit;

  border: none;
}

.order-title {
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
}

.order-button-continue {
  color: inherit;

  border: none;
  background-color: #ffffff;
  text-transform: uppercase;
}

.order-button-close {
  color: inherit;

  border: none;
}

.map-button-close {
  color: inherit;

  border: none;
}

/* catalog styles */

.page-title {
  margin-top: 17px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-right: 29px;
  padding-left: 29px;

  color: #32425c;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;

  background-color: #f2f6f8;
  text-transform: uppercase;
}

.breadcrumbs-list {
  margin-top: 18px;
  margin-bottom: 17px;
  padding-left: 0;

  list-style-type: none;
}

.breadcrumbs-item {
  display: inline-block;

  font-family: 'PT Sans', 'Arial', sans-serif;
  line-height: 1.38;

  text-transform: uppercase;
}

.filter-section {
  width: 220px;

  font-family: 'PT Sans', 'Arial', sans-serif;
}

.filter-title,
.sorting-title {
  font-size: 13px;
  line-height: 1.38;
  font-weight: normal;

  text-transform: uppercase;
}

.filter-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 9px;
  padding-bottom: 11px;

  background-color: #f7f3ec;
}

.filter-form-title {
  font-size: 17px;
  line-height: 1.76;
  font-weight: bold;

  text-transform: uppercase;
}

.filter-price-range {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.filter-price-track {
  flex-basis: 100%;
  flex-grow: 1;

  background-color: #f7f3ec;
}

.filter-price-pin {
  color: inherit;

  border: none;
}

.filter-price-line.line-empty {
  background-color: #d7dcde;
}

.filter-price-line.line-fill {
  background-color: #00cb75;
}

.filter-price {
  width: 95px;

  background-color: #f7f3ec;
  border: none;
}

.filter-checkbox-label,
.filter-radio-label {
  font-size: 15px;
  line-height: 1.33;

  text-transform: uppercase;
}

.filter-button-submit {
  color: inherit;
  font-size: 13px;
  line-height: 1.38;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  text-transform: uppercase;
}
.filter-button-submit:hover {
  border: solid 1px #bdc6ca;
}
.filter-button-submit:active {
  border: solid 1px #ee3643;
}

.sorting-section {
  margin-bottom: 18px;
  padding-top: 9px;
  padding-bottom: 11px;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 1.38;

  background-color: #f7f3ec;
  text-transform: uppercase;
}

.sorting-title {
  margin-top: 0;
  margin-bottom: 0;

  display: inline-block;
}

.sorting-types-list {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

.sorting-types-item {
  display: inline-block;
}

.sorting-types-button {
  color: rgba(0, 0, 0, 0.18);
  border-bottom: 1px dotted #ee3643;
}
.sorting-types-button:hover {
  color: inherit;
  border-bottom: 1px solid #ee3643;
}
.sorting-types-button:active,
.sorting-types-item.active .sorting-types-button {
  color: #ee3643;
  border-bottom: none;
}

.sorting-orders-list {
  margin-top: 0;
  margin-bottom: 0;

  list-style-type: none;
}

.pagination-section {
  margin-top: 30px;
  margin-bottom: 60px;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 1.38;

  text-transform: uppercase;
}

.pagination-list {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

.pagination-item {
  display: inline-block;
  width: 38px;
  height: 38px;
}

.pagination-link {
  display: inline-block;
  min-width: 38px;
  padding: 10px;

  text-align: center;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}
.pagination-link:hover {
  border: solid 1px #bdc6ca;
}
.pagination-link:active {
  border: solid 1px #ee3643;
}
.pagination-item.current .pagination-link {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.pagination-link.hidden {
  display: none;
}

.aside-section {
  padding-top: 65px;
  padding-bottom: 68px;

  background-color: #f4f7f9;
}

.aside-title {
  margin-top: 0;
  margin-bottom: 26px;
}

.aside-text {
  margin-top: 0;
  margin-bottom: 0;
}
